<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (product.length > 0) { %>
            <div class="grid">
                <% for (let prods of product) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= prods.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= prods.imageUrl %>"
                                alt="<%= prods.title %>">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$<%= prods.price %></h2>
                            <p class="product__description"><%= prods.description %></p>
                        </div>
                        <div class="card__actions">
                            <%- include('../includes/add-to-cart.ejs',{product : prods}) %>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>